html, body {
    width: 100%;
    height: auto;
    background-color: #0f172a;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}
.lblue, a {
    color: #2B9CD4;
    text-decoration: none !important;
}
.dblue {
    color: #01498D;
}
.container {
    padding: 0px 5%;
    margin: 0;
}
h1 {
    font-size: 3rem;
    padding: 20px 5%;
    border-bottom: 1px solid #2B9CD4;
}
h2 {
    font-size: 2rem;
    color: #2B9CD4;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    color: #2B9CD4;
    padding: 0 0 10px 0;
    margin: 40px 0 0 0;
}
.highlight {
    text-align: center;
    font-style: italic;
    padding: 0;
    margin: -20px 0 0 0;
}
p{
    padding: 0 40px 0 0;
    line-height: 1.3rem;
}
ul {
    line-height: 3rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 10px;
}
.grid-item {
    padding: 20px 0;
}
aside {
    margin: auto;
}
.img {
    width: 200px;  
}
.img [src] {
    text-align: center;
    border: 4px solid #2B9CD4;
    border-radius: 1000%;
    padding: 0; 
    max-width: 100%;  
    height: auto;  
}
.error-img {
    width: 500px;
}
